*.o
*.exe
*.cycdx
*.cydwr
*.elf
*.hex

*/codegentemp/*
*/Generated_Source/*

*/*/codegentemp/*
*/*/*/codegentemp/*

*/*/Generated_Source/*
*/*/*/Generated_Source/*

*/CortexM0/*
*/*/CortexM0/*
*/*/*/CortexM0/*
*/*/*/*/CortexM0/*

